= turbo_frame_tag 'new_todo_form', class: "w-3/5"  do 
  = form_with model: todo, local: true, class: "border p-2 rounded-md" do |form|
    .div
      .field.mb-3
        = form.label :title, value: "#{todo.title}" ,class: "mr-5"
        = form.text_field :title, class: "border w-full"
    .flex.justify-between.items-center
      .field
        = form.label :priority
        = form.select :priority, options_for_select([['High', 'high'], ['Medium', 'medium'], ['Low', 'low']]), {}, class: "p-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      .actions
        = form.submit 'Save', class: "btn btn-primary"
