= turbo_frame_tag 'progress', class: " info flex gap-5 py-5 " do
  .flex-col.text-center.w-full.gap-5
    p Completed 
    p #{completed_count(todos)}
  .flex-col.text-center.w-full.gap-5
    p Pending 
    p #{pending_count(todos)}
  .flex-col.text-center.w-full.gap-5
    p Progress 
    p = "#{progress_percentage(todos)}%"
