= turbo_stream.replace 'new_todo_form', partial: 'todos/closeform' 
= turbo_stream.after 'new_todo_form', partial: 'todos/todo', locals: { todo: @todo }
= turbo_stream.replace 'progress', partial: 'todos/progress', locals: { todos: current_user.todos }
