.wrapper class="w-full h-full flex flex-col justify-center items-center "
  - if user_signed_in?
      .container class="w-[55%] border border-gray-400 flex flex-col gap-6 bg-inherit shadow-md rounded-md p-8 text-center"
        h1.text-center Welcome Home, #{current_user.email}
        = turbo_frame_tag 'progress', class: " info flex gap-5 py-5 " do
          .flex-col.text-center.w-full.gap-5
            p Completed 
            p #{@todos.where(status: 'completed').count}
          .flex-col.text-center.w-full.gap-5
            p Pending 
            p #{@todos.where(status: 'pending').count}
          .flex-col.text-center.w-full.gap-5
            p Progress 
            - completed_count = @todos.where(status: 'completed').count
            - progress = completed_count > 0 ? (completed_count.to_f / @todos.count * 100).round(2) : 0
            p = "#{progress}%"
        .addtask.flex.justify-between.items-center.mt-4.mb-3
          .flex.flex-col.gap-1
            h2.text-xl.font-semibold Today Task
            p.text-sm.text-gray-400 =Date.today
          = link_to 'New task', new_todo_path, data: { turbo_frame: 'new_todo_form' }, class: "justify-center whitespace-nowrap rounded-md bg-lime-500 p-2"
        .data.h-full.w-full.rounded
          = turbo_frame_tag 'new_todo_form'
          - @todos.each do |todo|
            = render todo


      = link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }
  - else
    h1 Home
    = link_to 'Sign in', new_user_session_path
